.grid-container {
    display: grid; /*just like flex box, for multidimensional*/
    grid-template-columns: auto auto auto auto auto auto; /*column*/
    /*column-gap: 20px;
    row-gap: 10px;*/
    padding: 15px;
    background-color:  rgb(66, 34, 45);
}

.grid-item {
    background-color: rgb(81, 8, 59);
    border: 2px solid palevioletred;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-size: 20px;
}
.rowdes {
    background-color: black;
}
.headr {
    text-align: center;
    color: rgb(90, 18, 85);
}
.item1 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 6;
}
.item2 {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item3 {
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}
.item4 {
    grid-column-start: 4;
}
.item5 {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 6;
}
.item6 {
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-end: 6;
}
.item7 {
    grid-column-start: 6;
    grid-row-start: 2;
    grid-row-end: 6;
}
.item8 {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 6;
    background-color: rgb(83, 60, 60);
}
.item9 {
    grid-column-start: 2;
}
.item10 {
    grid-column-start: 2;
    grid-row-start: 8;
}
.item11 {
    grid-column-start: 3;
    grid-row-start: 7;
    grid-row-end: 9;
}
.item12 {
    grid-column-start: 3;
    grid-row-start: 9;
    grid-row-end: 11;
}
.item13 {
    grid-column-start: 4;
    grid-row-start: 7;
    grid-row-end: 11;
}
.item14 {
    grid-column-start: 5;
    grid-row-start: 7;
    grid-row-end: 11;
}
.item15 {
    grid-column-start: 2;
    grid-row-start: 9;
}
.item16 {
    grid-column-start: 2;
    grid-row-start: 10;
}
.item17 {
    grid-column-start: 6;
    grid-row-start: 8;
}
.item18 {
    grid-column-start: 6;
    grid-row-start: 9;
}
.item19 {
    grid-column-start: 6;
    grid-row-start: 10;
}