body {
    background-color:#FFE6E6;
}
span {
    color: rgb(147, 17, 39);
}
.relative {
    position: relative;
    left: 7px;
    top: 100px;
    background-color: #FF8E8F;
    color: white;
    margin: 5px;
    padding: 10px;
    border: 5px solid #9B4444; 
    width: 65%;
    height: 300px;
}
.fixed {
    position: fixed;
    left: 0;
    top: 0;
    color: deeppink;
    background-color: #E2BFB3;
    width: 100%;
    padding: 10px;
}
.sidebar {
    position: relative;
    left: 70%;
    top: -900px;
    height: 60px;
    background-color: #C68484;
    color: #9B4444;
    padding: 5px;
    border: 1px solid gray; 
    width: 25%;
    margin: 10px;
    text-align: center;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 5px;
    width: 100%;
    height: 30px;
    background-color: #9B4444;
    color: black;
    text-align: center;
}