.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #944E63;
    border-radius: 10px;
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    align-items: center;
    height: 600px;
    justify-content: center;
    width: 400px;
    box-shadow: 10px 10px 10px #dcd1d4;
}
body {
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 3.5%;
    background-color: #B47B84;
}
.inputbox {
    background-color: #FFE7E7;
    width: 130%;
    height: 40px;
    margin-left: -40px;
    border-radius: 10px;
    font-size: 22px;
    text-align: right;
    color: black;
}
.inputbox2 {
    background-color: #FFE7E7;
    width: 80%;
    height: 40px;
    margin-left: -1px;
    border-radius: 10px;
    font-size: 22px;
    text-align: right;
    color: black;
}
.inputboxtwo {
    background-color: #FFE7E7;
    width: 10%;
    height: 40px;
    margin-left: 280px;
    border-radius: 10px;
    font-size: 22px;
    text-align: right;
    color: black;
    text-align: center;
}

.flex-container>button {
    margin: 8px;
    padding: 20px;
    font-size: 30px;
    border-radius: 15px;
    margin-left: 25px;
}

.flex-container>button:hover {
    background-color: #C68484;
    color: white;
}

h1 {
    color: #FFF7F1;
}

.btnone {
    color: white;
    background-color: #B47B84;
}
.btnsign {
    color: black;
    background-color: #CAA6A6;
}